# directories
node_modules/
env/
__pycache__/
worker/private/
analyzer/private
worker/.sandbox
analyzer/.sandbox
worker/pdfs/*
analyzer/pdfs/*
.sandbox/

# files
.DS_Store
.env
*.log
nohup.out
pointers/
analyzer/private/
.private/
private/
